[Desktop Entry]
Name=Viditron
Comment=Quick video editing with FFmpeg
Exec=viditron %f
Icon=io.github.visageeee.Viditron
Terminal=false
Type=Application
Categories=AudioVideo;Video;AudioVideoEditing;
MimeType=video/mp4;video/x-matroska;video/webm;video/quicktime;video/x-msvideo;video/mpeg;
Keywords=video;ffmpeg;crop;trim;rotate;audio;youtube;
StartupNotify=true
StartupWMClass=io.github.visageeee.Viditron
